@import '../../utils/variables.scss';
.box {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square {
  width: 200px;
  height: 200px;
  border: 2px solid $loader-color;
  transform: rotate(45deg);
  position: absolute;
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 0s;

}

.second {
  width: 200px;
  height: 200px;
  border: 2px solid $loader-color;
  transform: rotate(-90deg);
  position: absolute;
  animation-name: reverse-rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 0s;
}


@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(315deg);
  }
}

@keyframes reverse-rotate {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}