@import '../../utils/mixins.scss';

.row {
  display: grid;
  grid-template-columns: repeat(1, 65%);
  
  gap: 22px;
  justify-content: center;
  gap: 15px;
  flex-direction: column;

  @include onDesktop {
    grid-template-columns: repeat(4,20%);
  }
}