$background-color: #171A21;
$grey-color: #837F7F;
$white-color: #fff;
$search-background: #837F7F;
$input-height: 31px;
$range-color: #231F20;
$green-color: #17323A;
$pagination-color: #5B5E63;
$loader-color: #26c89f;