@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.back {
  color: $white-color;
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  transition: color 0.5s linear;

  &:hover {
    color: $hover-color;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 20px;

  @include onDesktop {
    flex-direction: row;
  }
}

.clear {
  color: $white-color;
  position: absolute;
  right: 20px;
  top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s linear;

  &:hover {
    color: $hover-color;
  }
}